@use '../styles/variables.scss' as *;

.navbar__list li {
    font-size: 28px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .preload {
        z-index:3;
        height: 100vh;
        background-color: $bgcolor-loader;

        .preload-logo {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 2;
            height: 80px;
            transform: translate(-50%, 0%);
            margin-top: -50px;
        }
    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        margin: auto;
        box-sizing: border-box;
        background-clip: padding-box;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        border: 4px solid rgba(255, 255, 255, 0.1);
        mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
        transform-origin: 50% 60%;
        transform: perspective(200px) rotateX(80deg);
        animation: spinner-wiggle 1.2s infinite;
        margin-top: -100px;
    margin-left: -100px;
      }
      .spinner:before,
      .spinner:after {
        content: "";
        position: absolute;
        margin: -4px;
        box-sizing: inherit;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        opacity: .05;
        border: inherit;
        border-color: transparent;
        animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
      }
      
      .spinner:before {
        border-top-color: red;
      }
      
      .spinner:after {
        border-top-color: red;
        animation-delay: 0.3s;
      }
      
      @keyframes spinner-spin {
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes spinner-fade {
        20% {
          opacity: .1;
        }
        40% {
          opacity: 1;
        }
        60% {
          opacity: .1;
        }
      }
    }

body::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    transform: translateZ(0);
    z-index: -1;
    background-image: url(../images/thomas-and-friends-bg.png);
}

.content {
    width: 70%;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-color: $bgcolor;

    
}
.footer {
    @include font-normal;
    text-align: center;
    font-size: $font-size-tiny;
    background-color: $bgcolor-footer;
    margin-top: $spacing-unit * 4;
}

.navbar {
    @include font-normal;
    position: fixed;
    background-color: $bgcolor;
    height: 60px;
    width: 100%;
    left: 0;
    z-index: 2;
    display: flex;
}

.navbar__wrapper {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
}

.navbar__logo {
    height: 60px;
    cursor: pointer;
}

.navbar__logo:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear; 
}

.navbar__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}

//search tool
#tool {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin:60px auto 0;
}

#tool h3 {
    @include font-headline;
    font-size: 18px;
    margin: 40px auto 0;
    text-align: center;
}


//legend part
.legend {
    color: $font-color-default;
    text-align: center;
    margin-top: 20px;
    font-family: $font-family;
}
.legend .items {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 20px auto;
}

.legend .item {
    display: flex;
    align-items: center;
} 


.item span {
    padding-left: 5px;
}

.square {
    width: 10px;
    height: 10px;
}

.green-chest-color .square {
    background: $green-chest-color;
}

.blue-chest-color .square {
    background: $blue-chest-color;
}

.gold-chest-color .square {
    background: $gold-chest-color;
}
.dungeon-color .square {
    background: $dungeon-color;
}

.gathering-spot-color .square {
    background: $gathering-spot-color;
}

//filter cmp
.search__results {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.search__component {
    margin: 30px auto;
    // background: rgb(108, 23, 156);
    width: 100%;
    display: flex;
    justify-content: center;
}

.search__component input {
    width: 400px;
    padding: 10px 0;
    margin: 0 15px;
    text-align: center;
    border-radius: 7.5px;
    border: none;
}

.search__btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: $font-family;
}

.search__btn:hover {
    cursor: pointer;
}

.result {
    @include font-headline;
    max-width: 360px;
    margin: 10px 30px;
    background-color: lighten($bgcolor, 3.5%);
    border-radius: 15px;
}



.result img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.result h4 {
    font-size: 18px;
    padding: 5px 0;
}

.green-chest-color {
    color: $green-chest-color;
}

.blue-chest-color {
    color: $blue-chest-color;
}

.gold-chest-color {
    color: $gold-chest-color;
}

.dungeon-color {
    color:$dungeon-color;
}

.gathering-spot-color {
color: $gathering-spot-color;
}

.result h4, .result h5, .result p {
    text-align: center;
}
.result__details p {
    border-top: 1px solid lighten($bgcolor, 17.5%);
    margin-top: 10px;
    padding: 10px 0;
}

.result__details--chests, .result__details--gatheringspots {
    display: flex;
    justify-content: space-around;
}

.result__details--green, .result__details--blue, .result__details--gold, .result_details--leather, .result_details--iron {
    display: flex;
    flex-direction: column;
}

.chest-info {
    text-align: center;
}

.result__details--dungeons {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.result__details--gatheringspots {
    margin-bottom: 20px;
}

.green-chest::before, .blue-chest::before, .gold-chest::before, .dungeon::before, .gatheringspot--leather::before,.gatheringspot--iron::before  {
    background-size: 40px;
    display: inline-block;
    width: 40px; 
    height: 32.5px;
    content:"";
    margin-right: 5px;
}

.green-chest::before {
    background-image: url('../images/icons/checkTheAvaRoadTool/result-icons/greenchest.png');
}

.blue-chest::before {
    background-image: url('../images/icons/checkTheAvaRoadTool/result-icons/bluechest.png');
}

.gold-chest::before {
    background-image: url('../images/icons/checkTheAvaRoadTool/result-icons/goldenchest.png');
}


.dungeon::before {
    background-image: url('../images/icons/checkTheAvaRoadTool/result-icons/dung.png');
}

.gatheringspot--leather::before {
    background-image: url('../images/icons/checkTheAvaRoadTool/result-icons/dung.png');
}

.gatheringspot--iron::before {
    background-image: url('../images/icons/checkTheAvaRoadTool/result-icons/dung.png');
}






@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }


  @media(max-width: $ctar-lg-breakpoint) {
    .search__results {
        justify-content: center;
    }
  }


// @media (max-width: 1200px) {
 
//   }

@media (max-width: 900px) {
    .navbar__list {
        display: none;
      }
      .navbar__wrapper {
        justify-content: center;
      }
}

@media (max-width: 540px) {
  //placehodler
}